@using Transverse
@{
    Layout = Constants.NologinLayout;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Constants.AppName</title>
</head>
<body>
    <h1 style="text-align: center; color:red;">Sorry! This is an invalid url or this url has expired!</h1>
</body>
</html>